Repository nuts-foundation/nuts-node, pull requests merged in 2021-03, with the labels that each got.

#185 VCR: Trust CLI commands
  cmd/root.go
  core/http.go
  crypto/api/v1/client.go
  docs/_static/vcr/v1.yaml
  docs/pages/technology/vc-concepts.rst
  go.mod
  go.sum
  network/api/v1/client.go
  network/cmd/cmd_test.go
  vcr/ambassador.go
  vcr/ambassador_test.go
  vcr/api/v1/api.go
  vcr/api/v1/api_test.go
  vcr/api/v1/client.go
  vcr/api/v1/client_test.go
  vcr/api/v1/generated.go
  vcr/assets/NutsOrganizationCredential.json.template
  vcr/cmd/cmd.go
  vcr/cmd/cmd_test.go
  vcr/concept/query.go
  vcr/concept/query_test.go
  vcr/concept/registry_test.go
  vcr/concept/template.go
  vcr/concept/template_test.go
  vcr/concept/test.go
  vcr/credential/builder.go
  vcr/credential/builder_test.go
  vcr/credential/resolver_test.go
  vcr/credential/revocation.go
  vcr/credential/revocation_test.go
  vcr/credential/types_test.go
  vcr/credential/validator.go
  vcr/credential/validator_test.go
  vcr/interface.go
  vcr/mock.go
  vcr/store.go
  vcr/store_test.go
  vcr/trust/trust.go
  vcr/trust/trust_test.go
  vcr/vcr.go
  vcr/vcr_test.go
  vdr/api/v1/client.go
  vdr/cmd/cmd_test.go
Labels: vcr

#192 Re-enable Irma contract validation
  auth/auth.go
  auth/services/contract/notary_test.go
  auth/services/irma/signer.go
  auth/services/irma/signer_test.go
  auth/services/irma/validator.go
  auth/services/validator/validator.go
  vcr/ambassador_test.go
  vcr/api/v1/api.go
  vcr/api/v1/api_test.go
  vcr/concept/mock.go
  vcr/concept/registry.go
  vcr/concept/registry_test.go
  vcr/concept/template_test.go
  vcr/concept/test.go
  vcr/credential/types.go
  vcr/interface.go
  vcr/mock.go
  vcr/vcr.go
  vcr/vcr_test.go
Labels: auth

#174 VDR: Add CLI and APIs for adding and removing verificationMethods
  auth/auth.go
  auth/services/contract/notary.go
  auth/services/contract/notary_test.go
  auth/services/irma/signer_test.go
  auth/services/irma/validator.go
  auth/services/oauth/oauth.go
  auth/services/oauth/oauth_test.go
  auth/services/validator/validator.go
  auth/services/validator/validator_test.go
  cmd/root.go
  crypto/crypto.go
  crypto/crypto_test.go
  crypto/interface.go
  docs/_static/vdr/v1.yaml
  go.mod
  go.sum
  vcr/mock.go
  vcr/store_test.go
  vcr/test.go
  vcr/vcr.go
  vcr/vcr_test.go
  vdr/ambassador.go
  vdr/ambassador_test.go
  vdr/api/v1/api.go
  vdr/api/v1/api_test.go
  vdr/api/v1/client.go
  vdr/api/v1/client_test.go
  vdr/api/v1/generated.go
  vdr/cmd/cmd.go
  vdr/cmd/cmd_test.go
  vdr/doc-updater.go
  vdr/doc-updater_test.go
  vdr/integration_test.go
  vdr/mock.go
  vdr/resolvers.go
  vdr/resolvers_test.go
  vdr/test.go
  vdr/types/common.go
  vdr/types/interface.go
  vdr/types/mock.go
  vdr/vdr.go
  vdr/vdr_test.go
Labels: vdr
