Repository nuts-foundation/nuts-node, pull requests merged in 2021-07, with the labels that each got.

#361 Implement new oauth flow
  README.rst
  auth/api/v1/api.go
  auth/api/v1/api_test.go
  auth/api/v1/client.go
  auth/api/v1/client_test.go
  auth/api/v1/generated.go
  auth/auth.go
  auth/cmd/cmd.go
  auth/config.go
  auth/interface.go
  auth/mock.go
  auth/services/messages.go
  auth/services/mock.go
  auth/services/oauth/oauth.go
  auth/services/oauth/oauth_test.go
  auth/services/services.go
  cmd/root.go
  core/echo_errors.go
  docs/_static/auth/v1.yaml
  makefile
Labels: auth

#384 Network: fix reconnect loop for bootstrap nodes
  network/p2p/backoff.go
  network/p2p/backoff_test.go
  network/p2p/impl.go
  network/p2p/impl_test.go
Labels: network

#383 Add authorization manual
  docs/pages/getting-started/6-adding-authorizations.rst
  docs/pages/technology/vc-concepts.rst
Labels: documentation

#377 DIDMan: API endpoint for searching organizations through DIDMan
  cmd/root.go
  didman/api/v1/api.go
  didman/api/v1/api_test.go
  didman/api/v1/generated.go
  didman/api/v1/types.go
  didman/didman.go
  didman/didman_test.go
  didman/mock.go
  didman/types.go
  docs/_static/didman/v1.yaml
  docs/pages/api.rst
  docs/pages/getting-started/6-connecting-ehr.rst
  makefile
  vcr/api/v1/api.go
  vcr/api/v1/api_test.go
  vcr/interface.go
  vcr/mock.go
  vcr/vcr.go
  vcr/vcr_test.go
  vdr/types/common.go
  vdr/types/common_test.go
Labels: didman
