Repository nuts-foundation/nuts-node, pull requests merged in 2022-04, with the labels that each got.

#942 VCR: rename expirationDate to expires in LDProof
  vcr/api/v2/api.go
  vcr/api/v2/api_test.go
  vcr/signature/proof/jsonld.go
  vcr/signature/proof/jsonld_test.go
  vcr/signature/proof/legacy_test.go
  vcr/verifier/verifier.go
Labels: bug, vcr

#939 VCR: Fix type definition in API spec
  docs/_static/vcr/v2.yaml
Labels: vcr

#887 Network: changed test to use less waitgroups and count the number of routines running
  network/transport/v2/gossip/manager_test.go
Labels: network

#967 DIDMan: AddEndpoint OAS doesn't match returned type
  didman/api/v1/client_test.go
  didman/api/v1/generated.go
  didman/api/v1/types.go
  didman/cmd/cmd_test.go
  docs/_static/didman/v1.yaml
  makefile
Labels: bug, didman
